header {
    display: flex;
    margin-bottom: 5rem;
    padding: 2rem 5rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }

  header.light {
    background-color: white;
    color:black;
    box-shadow: 3px 0 5px gray;
  }

  header.light h1 *{
    color:#2b3945;
  }

  header.dark {
    background-color: #2b3945;
    color:white;
    box-shadow: 3px 0 5px rgb(43, 43, 43);
  }

  header.dark h1 *{
    color:white
  }

  .mode-switch {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    margin-right: 1rem;
    cursor: pointer;
  }

  .mode-switch img{
    margin-top: 5px;
    margin-right: 10px;
    width: 18px;
    height: 18px;
  }

  h1 *{
    font-weight: 900;
    text-decoration: none;
  }

  @media(max-width:700px){
    header {
      padding: 2rem 1rem;
    }

    .mode-switch p{
      display: none;
    }

    .mode-switch {
      margin: 0 0 0 1rem;
    }
  }