.search {
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 2px 2px 10px rgb(226, 224, 224);
    border-radius: 0.5rem;
}

.ligth .search {
    box-shadow: 2px 2px 10px rgb(226, 224, 224);
}

.dark .search {
    box-shadow: 2px 2px 10px rgb(12, 12, 12);
}

.search input {
    border: none;
    margin-left: 2rem;
    width:350px;
    font-size: 16px;
}

.search input:focus {
    outline: none;
}

.dark .search input::placeholder {
    color:white
}

@media(max-width:700px){
    .search input{
      width: 85%;
      margin-left: 5px;
    }

    .search {
        padding: 1rem 1rem;
        margin-bottom: 1rem;
    }
  }